#Jmeno{
    -fx-border-color:blue;
}
.root{
    -fx-background-color: gray;
    -fx-background-image: url(img/images.jpg);

}
#Prijmeni{
    -fx-border-color:green;
}
#Login{
    -fx-border-color:red;
}
#Heslo{
    -fx-border-color:pink;
}
.label{
    -fx-text-fill: white;
}
.text-field{
    -fx-background-color: #f8c8d1;
    -fx-text-fill: white;
}
.check-box{
    -fx-text-fill: white;
}
.radio-button{
    -fx-text-fill: white;
}
.button{
    -fx-background-color: #f8c8d1;
}